$backgroundColor: rgba(0, 0, 0, 1);
$textColor: rgba(255, 255, 255, 1);
$fontSize: 1.6rem;
$cardWidth: 4.2rem;
$cardHeight: 4.2rem;

/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
  font-size: 100%;
}

body {
  background: $backgroundColor;
  color: $textColor;
  font-size: $fontSize;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* SCREEN */
.world {
  display: grid;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  height: 37.2rem;
  margin: 0 auto;
  overflow: hidden;
}

/* GAME */
.game {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, $cardWidth);
  grid-template-rows: repeat(8, $cardHeight);
  grid-template-areas:
    '. Hy Hy Hy Hy Hy .'
    '. Hy Hy Hy Hy Hy .'
    '. Py Py Py Py Py .'
    'S Py Py Py Py Py D'
    'S Px Px Px Px Px D'
    '. Px Px Px Px Px .'
    '. Hx Hx Hx Hx Hx .'
    '. Hx Hx Hx Hx Hx .'
  ;
}

.Hy {
  grid-area: Hy;
}

.Py {
  grid-area: Py;
  border: 1px solid gray;
}

.S {
  grid-area: S;
  display: grid;
  justify-content: center;
  align-content: center;
}

.D {
  grid-area: D;
  display: grid;
  justify-content: center;
  align-content: center;
}

.Px {
  grid-area: Px;
  border: 1px solid gray;
}

.Hx {
  grid-area: Hx;
}

.stack {
  display: inline-flex;
}

.card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $cardWidth;
  height: $cardHeight;
  border: 1px solid $textColor;
}

.picked {
  background-color: gray;
}

.playable {
  background-color: darkslategray;
}

.jacked1:after, .jacked2:after, .jacked3:after, .jacked4:after {
  display: block;
  position: absolute;
  left: 0.1rem;
  bottom: 0.1rem;
  font-size: 1rem;
}

.jacked1:after {
  content: '1';
}

.jacked2:after {
  content: '2';
  font-size: 1rem;
}

.jacked3:after {
  content: '3';
  font-size: 1rem;
}

.jacked4:after {
  content: '4';
  font-size: 1rem;
}

/* INFO */
.info {
  font-size: 1rem;
}
