$backgroundColor: rgba(0, 0, 0, 1);
$textColor: rgba(255, 255, 255, 1);
$fontSize: 1.6rem;
$cardWidth: 4.2rem;
$cardHeight: 4.2rem;

/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
  font-size: 100%;
}

body {
  background: $backgroundColor;
  color: $textColor;
  font-size: $fontSize;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* SCREEN */
.world {
  position: relative;
  /* Usable area on an iPhone 4 is 320x372 pixels */
  width: 32rem;
  height: 37.2rem;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid pink;
}

/* GAME */
.game {
  position: relative;
  display: grid;
}

.pile {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $cardHeight;
  border: 1px solid pink;
}

.stack {
  display: inline-grid;
}

.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $cardWidth;
  height: $cardHeight;
  border: 1px solid $textColor;
}
