$backgroundColor: rgba(253,250,249,1);
$textColor: rgba(51,51,51,1);
$selectColor: rgba(255,0,84,.6);
$fontSize: 1.6rem;
$cardWidth: 4.6rem;
$cardHeight: 4.6rem;
$cardMargin: 2px;

/* RESET */
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}

body {
  background: $backgroundColor;
  color: $textColor;
  font-size: $fontSize;
  background: rgba(51,51,51,.5);
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
  radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
  radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
  radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

/* SCREEN */
.world {
  /* Usable area on an iPhone SE is 320x444 pixels */
  /*
  border: 1px solid pink;
  */
  width: 32rem;
  min-height: 44.4rem;
  margin: 0 auto;
  padding: $cardMargin * 2;
  background: rgb(253,250,249);
  color: rgb(101,12,19);
  color: rgb(51,51,51);
  border: 1px solid rgb(229,223,210);
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(51,51,51);
  background:
  radial-gradient(circle farthest-side at 0% 50%,rgb(253,250,249) 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,rgba(229,223,210,.3) 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(rgb(253,250,249) 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,rgb(253,250,249) 0)0 0,
  linear-gradient(150deg,rgb(253,250,249) 24%,rgba(229,223,210,.3) 0,rgba(229,223,210,.3) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(229,223,210,.3) 0,rgba(229,223,210,.3) 76%,rgb(253,250,249) 0)0 0,
  linear-gradient(30deg,rgb(253,250,249) 24%,rgba(229,223,210,.3) 0,rgba(229,223,210,.3) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,rgba(229,223,210,.3) 0,rgba(229,223,210,.3) 76%,rgb(253,250,249) 0)0 0,
  linear-gradient(90deg,rgba(229,223,210,.3) 2%,rgb(253,250,249) 0,rgb(253,250,249) 98%,rgba(229,223,210,.3) 0%)0 0 rgb(253,250,249);
  background-size:40px 60px;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

/* GAME */
.board {
  margin-bottom: $cardMargin;
}

.piles {
  flex-grow: 1;
}

.pile {
  flex-wrap: wrap;
}

.navi {
  position: relative;
}

.discard {
  flex-grow: 1;
  justify-content: flex-end;
}

.card {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: $cardWidth;
  height: $cardHeight;
  border: 1px solid $textColor;
  margin: $cardMargin;
  background-color: $backgroundColor;
  box-shadow: 0.2rem 0.2rem .5rem rgba(0,0,0,.3);
}

.picked {
  box-shadow: none !important;
}

.pile.playable, .card.playable {
  box-shadow:
    inset 0 0 .25rem $selectColor
  , 0 0 .25rem $selectColor
  ;
}

.jacked1:after, .jacked2:after, .jacked3:after, .jacked4:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 1px;
  bottom: 1px;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  color: $textColor;
  padding: 0.1rem;
  background-color: $backgroundColor;
  border-top: 1px solid $textColor;
  border-right: 1px solid $textColor;
  border-top-right-radius: 0.5rem;
}

.jacked1:after {
  content: '1';
}

.jacked2:after {
  content: '2';
}

.jacked3:after {
  content: '3';
}

.jacked4:after {
  content: '4';
}

/* INFO */
.info {
  font-size: 1.2rem;
}

.info p + p {
  margin-top: 0.6rem;
}

/* ICONS */
.icon {
  position: relative;
  display: block;
  width: $cardWidth;
  height: $cardHeight;
  background-repeat: no-repeat;
  pointer-events: none;
}

.icon .value {
  position: absolute;
  display: flex;
  top: 1px;
  right: 1px;
  font-size: 1rem;
  overflow: hidden;
  color: $textColor;
  padding: 0.1rem;
  background-color: $backgroundColor;
  border-bottom: 1px solid $textColor;
  border-left: 1px solid $textColor;
  border-bottom-left-radius: 0.5rem;
}

.iA {
  background-image: url('../img/walking-turret.svg');
}

.i2 {
  background-image: url('../img/skull-with-syringe.svg');
}

.i3 {
  background-image: url('../img/companion-cube.svg');
}

.i4 {
  background-image: url('../img/digital-trace.svg');
}

.i5 {
  background-image: url('../img/keyboard.svg');
}

.i6 {
  background-image: url('../img/family-tree.svg');
}

.i7 {
  background-image: url('../img/load.svg');
}

.i8 {
  background-image: url('../img/cyborg-face.svg');
}

.i9 {
  background-image: url('../img/heart-bottle.svg');
}

.iT {
  background-image: url('../img/death-note.svg');
}

.iJ {
  background-image: url('../img/trojan-horse.svg');
}

.iQ {
  background-image: url('../img/skull-shield.svg');
}

.iK {
  background-image: url('../img/cpu.svg');
}

.stack {
  background-image: url('../img/stack.svg');
}

/* UI */
.reset {
  font-size: $fontSize * 2;
}

/* ANIMATION */
.moveable {
  position: absolute;
  top: 0;
  left: 0;
}

.sliding {
  transition-timing-function: linear;
  transition-property: top, left;
}

/* TOGGLES */
.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

/* COLOPHON */
.colophon {
  width: 32rem;
  font-size: .9rem;
  line-height: .9rem;
  text-align: right;
  color: $textColor;
  margin: $fontSize auto;
}

.colophon > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

abbr[title="and"] {
  font-family: 'Adobe Caslon Pro', 'Baskerville', 'Goudy Old Style', 'Palatino',
  'Palatino Linotype', 'Book Antiqua', 'Georgia', 'Times New Roman', 'Times', serif;
  font-style: italic;
  text-decoration: none;
  font-size: 110%;
  cursor: help;
  /* Prevents `abbr` affecting the `line-height`. */
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media screen and (min-width:40em) {
  html {
    font-size: 100%;
  }
}
